
   button {
    font-family: 'Roboto', sans-serif; 
  }

  .subscribe-button{
    background-color: rgb(198, 2, 2);
    color: white;
    border: none;
    padding-right: 16px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    cursor: pointer;
    border-radius: 2px;
    margin-right: 8px;
    transition: opacity 0.15s;

  }

  .subscribe-button:hover {
    opacity: 0.8;
    background-color: green;
  }

  .subscribe-button:active {
    opacity: 0.3;

  }

  .join-button {
    background-color:white;
    color:rgb(5, 71, 214);
    border-width: 1px;
    border-color: rgb(43, 43, 183);
    border-style: solid;
    border-radius: 2px;
    padding-right: 16px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 9px;
    margin-right: 8px;
    cursor: pointer;
    transition: background-color 0.13s, color 0.15s;
  }

  .join-button:hover {
    background-color: rgb(54, 54, 195);
    color: white;
  }

  .join-button:active {
    opacity: 0.3;
  }

  .tweet-button {
    background-color: rgb(54, 54, 195);
    color: white;
    border-width: 1px;
    border-style: none;
    padding-right: 16px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 9px;
    cursor: pointer;
    border-radius: 18px;
    font-weight: bold;
    transition: box-shadow 0.15s;
  }

  .tweet-button:hover {
    box-shadow: 5px 5px 10px rgba(0, 0,0,0.15);
  }

  

  
    